body {
  font-family: "Open Sans";
}

.header {
  border-top: 1px rgb(220, 220, 220) solid;
  border-bottom: 1px rgb(220, 220, 220) solid;
  padding: 25px;
}

.layout {
  max-width: 600px;
  margin: auto;
}

.panel {
  margin: 25px auto;
  max-width: 600px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: #000;
    &:disabled {
      color: #ddd;
      border: 1px solid #ddd;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.game-header {
  font-family: "Bebas Neue";
  text-align: center;
}

.performance-facts {
  direction: rtl;
  margin: 50px auto;
  width: 300px;
  table {
    width: 100%;
    thead {
      text-align: center;
      padding: 20px;
      th {
        padding: 5px;
      }
    }
    tr {
      padding: 20px;
    }

    tbody {
      td {
        padding: 0 10px;
        // border-left: 1px solid black;
        &.values {
          width: 75px;
          text-align: center;
        }
      }
    }
    td,
    th {
      border: 1.5px solid #666;
      color: #666;
    }
  }
}

.clue {
  margin: auto;
  max-width: 300px;
  text-align: center;
  img {
    height: 200px;

    &.blur {
      filter: blur(16px);
    }
  }
}

.float-right {
  float: right;
}

.summary {
  img {
    width: 200px;
    height: 220px;
    object-fit: cover;
  }
}